.answer
  %p= answer.answer
  %p= answer.user.username
  = link_to "Edit", edit_post_answer_path(answer.post, answer)
  = link_to "Delete", [answer.post, answer], method: :delete, data: {confierm: "Are you sure?" }
