// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
	}
	h2 {
		font-weight: 100;
		font-size: 1.5em;
		color: #397CAC;
		margin-top: 0;
	}
	p {
		color: #B2BAC2;
		font-size: 0.9em;
		line-height: 1.5;
		font-size: 100;
	}
}

#buttons {
	float: right;
	a {
		line-height: 60px;
		background: #397CAC;
		padding: .5em 1em;
		border-radius: 0.2em;
		color: white;
		text-decoration: none;
		font-weight: 100;
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}
