// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #F23E29;
		margin-top: 0;
	}
	h2 {
		font-weight: 75;
		font-size: 1.25em;
		color: #FF5B00;
		margin-top: 0;
	}
	p {
		color: #777777;
		font-size: 0.9em;
		line-height: 1.5;
		font-weight: 350;
	}
}

#buttons_right {
	float: right;
	a {
		line-height: 60px;
		background: #E99440;
		padding: .5em 1em;
		border-radius: 0.2em;
		color: black;
		text-decoration: none;
		font-weight: 450;
	}
}

#buttons_left {
	float: left;
	a {
		line-height: 60px;
		background: #E4D969;
		padding: .5em 1em;
		border-radius: 0.2em;
		color: white;
		text-decoration: none;
		font-weight: 400;
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: .5em 0;
		padding: .5em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				color: #F23E29;
				text-decoration: none;
				font-weight: 100;
				font-size: 2rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}
