<%# if current_user %>

</footer>
<footer class="footer-distributed">
  <div class="footer-right">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-left">
  <p class="footer-links">
  ·
  <%= link_to "About Us", about_path, class: "page-scroll" %>
  ·
  <%= link_to "Contact Us", contact_path, class: "page-scroll" %>
  ·
  </p>
<p> </p>
</div>
</footer>


